
.logo{
    margin: 2rem 0 1rem 0;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
  }
  .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .logo h1{
    margin-left: 1rem;
    text-transform: uppercase;
  }
  
  ul{
    margin: 0 auto;
  }
  li{
    padding-bottom: 2rem;
  }
  li a{
    font-size: 16px;
    color: rgb(85, 83, 83);
  }
  
  nav i{
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  
  .logout{
    position: absolute;
    bottom: 20px;
  }
  
  /* Main Section */
  .main1{
    width: 100%;
    viewport-fit: contain;
    margin-top: 60px;
  }
  
  .main-body{
    padding: 10px 10px 10px 20px;
    
  }
  h1{
    margin: 20px 10px;
  }
  
  .searcharea{
  
   width: 100%;
   height: 60px;
   background-color: #ffffff; 
  
   padding: 0 10px;
  
   position: fixed;
   
  }
  .search_bar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
  }
  .search_bar input{
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
  }
  .search_bar input:focus{
    border: 1px solid blueviolet;
  }
  .search_bar select{
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin-left: 2rem;
  }
  .search_bar .filter{
    width: 300px;
  }
  
  .tags_bar{
    width: 55%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
  }
  .tag{
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
  }
  .tag i{
    margin-right: 0.7rem;
  }
  .row{
    display: flex;
    padding: 10px;
    margin-top: 1.3rem;
    justify-content: space-between;
  }
  .row p{
    color: rgb(54, 54, 54);
    font-size: 15px;
  }
  .row p span{
    color: blueviolet;
  }
  .job_cards{
    margin-top: 200px;
  }
  .job_card{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
   
  }
  .job_details{
    display: flex;
  }
  .job_details .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .job_details .img img{
    width: 100px;
    font-size: 3rem;
    margin-left: 1rem;
   
  }
  .job_details .text{
    margin-left: 2.3rem;
  }
  .job_details .text span{
    color: rgb(116, 112, 112);
  }
  .job_salary{
    text-align: right;
    color: rgb(54, 54, 54);
  }
  .job_card:active{
    border: 2px solid blueviolet;
    transition: 0.4s;
  }
  
  
  
  
  .sub-main{
    width: 30%;
    
    float: left;
  }
  
  .button-two{
    text-align: center;
    cursor: pointer;
    font-size:24px;
  
  }
  
  
  
  
  
  /*Button Two*/
  .button-two {
    border-radius: 4px;
    background-color:#000000;
    border: none;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    color: white;
    font-size: medium;
  }
  
  
  .button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-two:hover span {
    padding-right: 25px;
  }
  
  .button-two:hover span:after {
    opacity: 1;
    right: 0;
  }
  