@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  font-size: 10px;

 
  padding: 0;
 
  scroll-behavior: smooth;
}




.homemain{
 
  background-color:   white;
  text-align: left;
  
  min-height: 60rem;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
margin-right: 10px;

  justify-content: center;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  


}
@media (max-width: 800px) {
  .homemain {
    flex-flow: column wrap;
    max-width: 100%;
  }
}
.eye-grabber {
  flex: 1;
  padding: 0 2rem;
}
@media (max-width: 800px) {
  .eye-grabber {
    max-width: max-content;
    padding-bottom: 8rem;
  }
}
.eye-grabber h1 {
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
 
}
.eye-grabber h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 20px;
  line-height: 5rem;
 
}
.eye-grabber-img {
  flex: 1;
}
@media (max-width: 800px) {
  .eye-grabber-img {
    width: 100%;
  }
}
.eye-grabber-img img {
  max-width: 100%;
}
.btn {
  border: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem;
  background-color: black;
  color: #fafafa;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
  padding: 10px;
}

.btn:hover {
  background-color: #545454;
  cursor: pointer;
  color: white;
}
.btn:active {
  transform: scale(0.9);
}

