body {
    background-color: rgba(255, 255, 255, 0);
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  .box-form {
    width: 60%;
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
    margin-left:20%;
    margin-right: 20%;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .img_container {
    color: #FFFFFF;
    background-size: contain;
    background-image: url("../img/Login/iqube.png");
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-form .img_container .overlay {
    height: 90%;
  width: 75%;
   background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 5s ease-in-out;
    font-size: 3rem;
  }
  .box-form .login_menu {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .login_menu .top {
    width: 100%;
    height: 150px;
    overflow: auto;
    align-items: center;
    justify-items: center;
  }
  .box-form .login_menu .top .img_container {
    height: 100%;
    background-image: url("../img/Login/iqube.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  @media (max-width: 980px) {
    .box-form .login_menu {
      width: 100%;
      padding: 20px;
    }
    .box-form .login_menu .top .img_container {
      background-size: contain;
      background-position: center;
    }
    .box-form .login_menu .top{
      display: none;
    }
  }
  .box-form .login_menu h5 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
  }
  .box-form .login_menu p {
    font-size: 14px;
    color: #B0B3B9;
    text-align: center;
  }
  .box-form .login_menu .inputs {
    width: 100%;
  }
  .box-form .login_menu input {
    width: 75%;
    padding: 10px;
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 20px 0px #000000a6;
  }
  .box-form .login_menu .remember-me--forget-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box-form .login_menu .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .login_menu button {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px rgb(0, 0, 0);
    background-color: black;
  }
  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #000000;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #000000;
  }
  label:hover::before .text-checkbox {
    background: #000000;
  }
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  /* =============== welcome back ================ */
  .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #545454 0%,
      #a6a6a6 29%,
      black 67%,
      white 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        text-align: center;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
