/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f1f4fa;
}

.container {
  position: relative;
  width: 100%;
  background-color: #f1f4fa;
}

/* =============== Navigation ================ */
.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: white;
  position: fixed;
  height: 100%;

  overflow-x: hidden;
}
.sidebar_content {
  margin-top: 60px;
  width: 100%;
}
.sidebar_top {
  width: 100%;
  top: 0;
  position: relative;
  overflow: auto;

  justify-content: center; /* Center the contents horizontally */
  align-items: center;
}

.sidebar a {
  display: block;
  color: var(--light-version-text, #06152b);
  padding: 16px;
  text-decoration: none;
  text-align: left;
  opacity: 0.5;
  transition: 0.3s;
}

.usericon {
  top: 60px;
  left: 0px;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.userdetails {
  text-align: left;
  left: 60px;
  margin-top: 20px;

  margin-left: 30px;
  position: relative;
  width: 140px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  color: var(--light-version-text, #06152b);

  font-family: DM Sans;
  font-size: 12.64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.usericon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar a.active {
  color: rgb(0, 0, 0);
  background: #f1f4fa;
  opacity: 1;
}

.sidebar a:hover:not(.active) {
  background-color: black;
  color: white;
  opacity: 1;
  border-radius: 10px;
}

.naviconBx {
  position: relative;
  column-width: 40px;
  overflow: hidden;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
  justify-content: center;
  display: inline-block;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 60px);
  left: 60px;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 5px 0px #000000;
  position: fixed;
  z-index: 5;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(190, 102, 102, 0.29);
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.dashboardtype {
  position: relative;
  width: 250px;

  font-size: 25.63px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  min-width: 40px;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .main {
    width: 100%;
    left: 60px;
  }
  .main.active {
    left: 300px;
  }

  .sidebar_top {
    display: none;
  }
  .usericon {
    display: none;
  }
  .userdetails {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar a {
    float: left;
  }
}

@media (max-width: 480px) {
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
