.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 3fr 2fr;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 1rem;
}
.flex .circular-progress:hover{
    transform: scale(1.03);
}
.flex .circular-progress{
    transition: transform 0.3s linear;
}
/* ----------- *\
    *circular
    *progress
\* ----------- */
.circular-progress {
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 20px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
    animation: progress-animation 5s linear 0s 1 forwards;
    position: absolute;
    z-index: 1;
  }
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  .circular-progress circle.bg {
    stroke: #ddd;
  }
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #5394fd;
  }
  @property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
  @keyframes progress-animation {
    from {
      --progress: 0;
    }
    to {
      --progress: 100;
    }
  }
.flex img{
    border-radius: 50%;
    aspect-ratio: 1;
    width: calc(250px- var(--stroke-width));
    z-index: 0;
}
.flex .circular-progress:hover img{
    opacity: 0.5;
    background-image: url(http://localhost/iqube/6325975.png);
    object-fit: cover;
}
#profile-pic{
    display: none;
    position: fixed;
}