
/*
* Defining
* Elements
 */
 :root{
    --black : hsl(230, 21%, 11%);
    --btn: rgb(188, 61, 61);
    --ash : rgb(190, 197, 173);
    --puce : rgb(221, 146, 150);
    --pink : rgb(242, 183, 198);
    --claret : rgb(242, 183, 198);
    --lapislazuli : rgb(72, 99, 156);

    --shadow : rgba(25, 50, 60, 0.488);
    --boxshadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body.dark{
    color: #f5f5f5;
    /* unless explicitly defined the color of the text is white when in dark mode */
    --black: hsl(230, 53%, 84%);
    --btn: rgb(231, 220, 220);
    --ash: rgb(61, 64, 56);
    --puce: rgb(168, 86, 90);
    --pink: rgb(198, 132, 142);
    --claret: rgb(198, 132, 142);
    --lapislazuli: rgb(30, 42, 68);


    --shadow : rgba(243, 247, 240, 0.525);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
}

h1 {
    color: var(--main-color);
    font-size: 2.8rem;
}

h2{
    color: var(--color4);
}

p{
    color: var(--color4);
}

.container .streams {
    grid-column: 1 / span 6;
}

.container .streams{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.container .streams .stream {
    padding: 1.5rem;
    border-radius: 1rem;
    border: var(--border);


    font-size: 2rem;

    transition: transform .3s linear;
    transition: box-shadow .2s linear;
}

.stream:hover{
    box-shadow: var(--boxshadow) ;
    transform: scale(1.02);
}

.stream:nth-child(1){
    background-color: var(--ash);
}

.stream:nth-child(2){
    background-color: var(--claret);
}

.stream:nth-child(3){
    background-color: var(--pink);
}

.stream:nth-child(4){
    background-color: var(--puce);
}

.stream:nth-child(5){
    background-color: var(--lapislazuli);
}

.container .streams .subjects {
    display: none;
}
