/*-----------------------------------*\
  #threads css
\*-----------------------------------*/
.forum, .threads{
    font-size: 1.5rem;
}
.forum{
    display: flex;
}
.forum-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 0 0 10px;
}