/* General styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
} */

/* Section for tutor search */
.searchSection {
    text-align: center;
    margin: 20px 0;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

/* Section for most active tutors */
.mostActiveTutors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Tutor card styles */
.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    
    background: rgba(240, 234, 234, 0.478);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(190, 171, 171, 0.26);
}

.tutorImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tutorInfo {
    text-align: center;
    margin-bottom: 10px;
}

.tutorName {
    font-size: 1.5em;
    margin: 5px 0;
}

.tutorRole {
    color: #666;
    font-size: 0.9em;
}

.tutorRating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.starRating {
    color: #f0bb05;
}

.ratingValue {
    margin-left: 5px;
    font-weight: bold;
}

.studentCount {
    text-align: center;
    color: #666;
}

.countValue {
    font-weight: bold;
    margin-right: 5px;
}

.students {
    font-size: 0.9em;
    font-style: italic;
}

.sendMessageButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

/* Star rating styles */
.checked {
    color: #f0bb05;
}

.fa {
    font-size: 1em;
    margin-right: 2px;
}
